body {
    background-color: black;
    color: rgba(255, 255, 255, 0.658);
    font-family: sans-serif;
}

.nav {
    height: 60px;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
}

/* left logo */
.hamburger {
    display: none;
}

.hamburger img {
    height: 38px;

}

.nav .cross{
    width: 30px;
    position: absolute;
    left: -100%;
}

.cross img {
    height: 30px;
}

.leftlogo ul {
    display: flex;
    gap: 10px;
    padding-left: 15px;
}

.leftlogo ul li {
    display: flex;
    cursor: pointer;
}

#netflixlogo {
    width: 35px;
    padding-right: 20px;
}

.logos {
    width: 22px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.153);
}

.rightlogo ul {
    display: flex;
    gap: 15px;
    align-items: center;

}

.rightlogo ul li {
    display: flex;
    font-weight: 700;
    cursor: pointer;
}


.rightlogo .small {
    font-size: 14px;
    padding: 4px;

}

.rightlogo ul li:hover {
    transition: all 0.1s ease;
    /* color: white; */
}

#login {
    padding: 14px 30px;
    color: black;
    border-radius: 30px;
    background-color: white;
}

/* This will make the black color image white */
.invert {
    filter: invert(1);
}

/* container */
.container {
    height: 88vh;
    position: relative;
}


.left {
    width: 30vw;
    background-color: rgba(24, 24, 24, 0.844);
    overflow-y: auto;
    margin-right: 8px;
    border-radius: 10px;
    position: relative;

}

.right {
    width: 79vw;
    background-color: rgba(28, 28, 28, 0.758);
    border-radius: 10px;
}

/* left side heading */
.heading {
    justify-content: space-around;
    padding: 10px 23px;
    color: white;
    font-size: small;
    gap: 100px;
}

.heading .plus {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.658)
}


/* library section */
.songList {
    height: 485px;
    overflow: auto;
}

.songList ul {
    padding: 0px 20px;
    margin-top: -15px;
}

.songList ul li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.164);
    margin: 15px 10px;
    overflow-x: hidden;
    font-size: 15px;
}



.songList .info {
    width: 250px;
}

.songList img {
    width: 25px;

}

.songList .playbtn {
    width: 25px;

}

.playnow {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* left side last part */
.last .second {
    margin-bottom: 10px;
}

.last ul {
    display: flex;
    font-size: 12px;
    gap: 15px;
    padding-left: 20px;
    flex-wrap: wrap;
}

.last ul li {
    display: flex;
    cursor: pointer;
}

/* Language */

.language {
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
}

.language h4 {
    border: 1px solid white;
    padding: 8px;
    width: 80px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.language h4 img {
    width: 15px;
    padding-left: 5px;
}

footer {
    margin-top: 10px;
}

/* Spotify playlist Trending songs */
.right {
    padding: 3px 35px;
    overflow-y: scroll;
}

.right h2 {
    color: white;
}

/* Card container */
.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100vw;
}

/* Designing card */
.card {
    width: 200px;
    border-radius: 7px;
    position: relative;
    transition: all ease;
    cursor: pointer;
    max-height: 292px;
    background: #292828ad;
    border: 1px solid rgba(255, 255, 255, 0.117);
}

.card:hover {
    background-color: rgba(32, 31, 31, 0.715);

    /* This is the hover inside the hover */
    .play {
        opacity: 1;
        bottom: 110px;
    }

}

.card h4 {
    color: white;
    margin: 14px 2px;
}
.card p{
    margin: 11px 2px;
}

.card>* {
    padding-left: 10px;
}

.card img {
    width: 89%;
    padding: 13px 11px;
    border-radius: 10px;
    padding-bottom: 0px;
    max-height: 61%;
}


.card .play {
    position: absolute;
    bottom: 90px;
    right: 20px;
    transition: all 0.3s ease;
    opacity: 0;
}

/* .right {
    position: relative;
} */

/* last playbar */

.playbar {
    position: absolute;
    right: 13px;
    min-height: 60px;  
    bottom: 0;
    width: 71%;
    padding: 10px;
    background-color: rgb(55, 56, 55);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.songinfo,.songtime {
    padding: 10px;
}

.songbutton {
    gap: 15px;
    justify-content: center;
    margin-bottom: 8px;
}

.songbutton img {
    width: 40px;
    cursor: pointer;
}

/* seebar */
.seekbar {
    height: 4px;
    width: 98.5%;
    border-radius: 10px;
    background-color: #eee9e9;
    position: absolute;
    bottom: 2px;
    margin: 2px;
    cursor: pointer;
}

.circle {
    width: 11px;
    height: 11px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    bottom: -2px;
    transition: left 0.2s;
}

/* Media query */
@media (max-width: 1400px) {
    .left,
    .leftlogo,
    .cross {
        position: absolute;
        left: -120%;
        transition: all .5s ease-in-out;
        z-index: 1;
        width: 380px;
        background-color: black;
    }

    .right {
        width: 100vw;
          display: flex;
        justify-content: center;
    }

    .cardContainer{
        justify-content: center;  
    }

    .playbar {
        width: calc(100vw - 50px); 
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 4px;
        gap: 2px;
    }
    .songbutton{
        margin-bottom: 0;
    }
    .seekbar{
        width: calc(100vw - 45px);
    }

    .hamburger {
        display: block;
    }

    .rightlogo ul li:nth-child(1), 
    .rightlogo ul li:nth-child(2),
    .rightlogo ul li:nth-child(3),
    .rightlogo ul li:nth-child(4),
    .rightlogo ul li:nth-child(5){
        display: none;
    }

 
    .card{
        width: 305px;
        min-height: 408px;
    }
    .card img {
    width: 94%;
    max-height: 90%;
}
}